/ {
        chosen {
                bootargs = "console=ttyPS0,115200 earlyprintk root=/dev/mmcblk0p2 rw uio_pdrv_genirq.of_id=generic-uio";
                stdout-path = "serial0:115200n8";
        };

        aliases {
                ethernet0 = &gem0;
                serial0 = &uart1;
                mmc0 = &sdhci0;
        };

        memory@0 {
                device_type = "memory";
                reg = <0x0 0x10000000>;
        };

	leds {
                compatible = "gpio-leds";

		led-green {
                        label = "led-green";
			gpios = <&gpio0 55 1>;
			default-state = "off";
                        linux,default-trigger = "heartbeat";
		};
		led-red {
                        label = "led-red";
			gpios = <&gpio0 54 1>;
			default-state = "off";
		};
        };

        buttons {
                compatible = "gpio-keys-polled";
                poll-interval = <100>;

                s2-button {
                        gpios = <&gpio0 20 1>;
                        label = "s2-button";
                        default-state = "keep";
                        linux,code = <106>;
                        autorepeat;
                };
                s3-button {
                        gpios = <&gpio0 32 1>;
                        label = "s3-button";
                        default-state = "keep";
                        linux,code = <105>;
                        autorepeat;
                };
        };
};

&uart1 {
       status = "okay";
};

&gem0 {
        status = "okay";
        phy-mode = "rgmii-id";
        phy-handle = <&ethernet_phy0>;

        ethernet_phy0: ethernet-phy@0 {
                reg = <0>;
        };
};

&sdhci0 {
        status = "okay";
};

&gpio0 {
        gpio-mask-low = <0x5600>;
};

&smcc {
	status = "okay";
	nand0: flash@e1000000 {
                status = "okay";
                nand-ecc-mode = "none";
                nand-bus-width = <8>;
                partitions {
        		compatible = "fixed-partitions";
        		#address-cells = <1>;
        		#size-cells = <1>;

			partition0: partition@0 {
				label = "fsbl_uboot";
				reg = <0x0 0x120000>;
			};
			partition1: partition@120000 {
				label = "uboot_env";
				reg = <0x120000 0x20000>;
			};
			partition2: partition@140000 {
				label = "bitstream";
				reg = <0x140000 0x200000>;
			};
			partition3: partition@340000 {
				label = "kernel";
				reg = <0x340000 0x500000>;
			};
			partition4: partition@840000 {
				label = "device_tree";
				reg = <0x840000 0x20000>;
			};
			partition5: partition@860000 {
				label = "rootfs";
				reg = <0x860000 0x77A0000>;
			};
                };
        };
};
